<section class='ta-TodoApp'>
  <header class='ta-Header'>
    <h1 class="ta-Header-Title">todos</h1>
    {{input type='text'
            class='ta-Header-NewTodo'
            placeholder='What needs to be done?'
            value=newTitle
            enter='createTodo'}}
  </header>

  <section class='ta-Main'>
    {{todos-list todos=filtered class='ta-TodoList'}}

    <input type='checkbox'
            class='ta-Main-ToggleAll'
            checked={{allAreDone}}
            onchange={{action 'completeAll'}}>
  </section>

  <footer class='ta-Footer'>
    <span class='ta-Footer-Count'>
      <strong class='ta-Footer-CountEm'>{{active.length}}</strong> {{inflection}} left
    </span>

    <ul class='ta-Filters'>
      <li class='ta-Filter'> {{link-to 'All' 'index'       (query-params state='all')       activeClass='ta-Filters-Filter-selected'}} </li>
      <li class='ta-Filter'> {{link-to 'Active' 'index'    (query-params state='active')    activeClass='ta-Filters-Filter-selected'}} </li>
      <li class='ta-Filter'> {{link-to 'Completed' 'index' (query-params state='completed') activeClass='ta-Filters-Filter-selected'}} </li>
    </ul>

    {{#if completed}}
      <button class='ta-Footer-ClearCompleted' {{action 'clearCompleted'}}>
        Clear completed ({{completed.length}})
      </button>
    {{/if}}
  </footer>
</section>

<footer class='ta-Info'>
  <p class='ta-Info-Edit'>Double-click to edit a todo</p>
</footer>
